@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* i {
    font-family: fontawesome !important;
} */

.card {
    margin: 25px;
    width: 300px;
    padding: 50px;
}